.app__content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto 40vh;
  background-color: #f7f1e3;
  overflow: hidden;
}

.app__contentMain {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 90vh 100vh 100vh 100vh 100vh 100vh;
}

.app__bar {
  position: fixed;
  left: 20px;
  display: none;
  padding: 20px;
  z-index: 250;
  color: #2c2c54;
  background-color: #f7f1e3;
  font-size: 30px;
  cursor: pointer;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

@media only screen and (max-width: 855px) {
  .app__bar {
    display: block;
  }
}

@media only screen and (max-width: 420px) {
  .app__bar {
    left: 10px;
    padding: 15px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 350px) {
  .app__bar {
    left: 5px;
    padding: 10px;
    font-size: 20px;
  }
}
